.about {
  @extend .projects;
  z-index: 9;
  left: 28%;
  &__triangle {
    @extend %triangleDown;
  }
  &__info {
    &-left {
      position: relative;
    }
    color: $lightestText;
    position: absolute;
    height: 100vh;
    top: 0;
    pointer-events: none;
    & p {
      text-align: center;
      padding: 50px 0 0 0;
    }
    & a {
      margin-top: 20px;
      z-index: 99999;
      pointer-events: all;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 500;
      &:hover {
        &:after {
          width: 100%;
          transform: scaleX(1);
        }
      }
      &:after {
        display: block;
        content: "";
        width: 100%;
        transform: scaleX(0);
        transform-origin: 0% 100%;
        height: 2px;
        background-color: $lightestText;
        transition: 0.3s cubic-bezier(0.01, 0.21, 0.35, 1);
      }
    }
    & h1 {
      text-align: center;
      padding: 150px 0 0 0;
    }
    .left {
      shape-outside: polygon(5% 0%, 105% 100%, 0 100%);
      float: left;
      height: 100vh;
      width: 50%;
    }
    .right {
      shape-outside: polygon(95% 0%, 100% 100%, -5% 100%);
      float: right;
      height: 100vh;
      width: 50%;
    }
  }
}
