.away {
  top: -100%;
  transition: 0.2s cubic-bezier(0.5, 0, 0.75, 0); // changes up animation
}
.top {
  top: -100%;
  z-index: 10;
}
.first {
  left: 11%;
  top: 0;
  z-index: 10;
  & h2:after {
    width: 100%;
  }
}
.second {
  left: 30%;
  top: 0;
  z-index: 9;
}
.third {
  left: 47%;
  top: 0;
  z-index: 8;
}

.mainTop {
  left: 0;
  z-index: 11;
}
.mainAway {
  left: -52%;
  h1 {
    opacity: 0;
  }
}
.show {
  display: block;
  pointer-events: auto;
}
.fromLeft {
  left: 0;
  opacity: 1;
  transition: 0.5s cubic-bezier(0, 0.92, 0, 1.01);
}

.fromRight {
  right: 0;
  opacity: 1;
  transition: 0.5s cubic-bezier(0, 0.65, 0.26, 1.01);
}

.fromBottom {
  top: 50%;
  opacity: 1;
  transition: 0.5s cubic-bezier(0, 0.65, 0.26, 1.01);
  pointer-events: all;
}

.fromBottomIcons {
  top: 87%;
  opacity: 1;
  transition: 1.5s cubic-bezier(0, 0.65, 0.26, 1.01);
  pointer-events: all;
}
