// colors
$triangle: #6edfb52e;
$background: #24212d;
$lightText: #dbd6e26c;
$lightestText: #ffffffdb;
$logoColor: #dfdfdf;
$hover: #ffffff24;
$active: #347f7c;
$disabled: #36333c;

%triangleDown {
  height: 100%;
  width: 60%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  padding: 1.3rem 12.5% 0 0;
  background-color: $triangle;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: hard-light;
}
%triangleUp {
  @extend %triangleDown;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  mix-blend-mode: luminosity;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $background;
  position: relative;
  -webkit-font-smoothing: antialiased;
  will-change: scroll-position;
}

.loading-screen {
  // position: fixed;
  // height: 100%;
  // width: 100%;
  // background-color: #353674;
  // z-index: 9999;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: white;
  // opacity: 1;
  // transition: 0.2s cubic-bezier(0, 1.06, 0, 0.98);
  // pointer-events: none;
}
.logo {
  font-size: 3rem;
  color: $logoColor;
  margin: 20px 40px;
  position: absolute;
  font-weight: 600;
  letter-spacing: -10px;
  z-index: 99;
  position: fixed;
  cursor: pointer;
  user-select: none;
}
.bottom-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 12;
  color: $lightText;
  bottom: 0;
  &__status {
    bottom: 12px;
    font-size: 0.8rem;
    margin-right: 4%;
    position: absolute;
    right: 0;
    & h2 {
      font-weight: 300;
      & span {
        color: $lightestText;
        animation-name: opacity-up;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 10s;
        font-weight: 500;
        transform: translateZ(0);
        &:nth-child(1) {
          animation-delay: 0.1s;
        }
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.3s;
        }
        &:nth-child(4) {
          animation-delay: 0.4s;
        }
        &:nth-child(5) {
          animation-delay: 0.5s;
        }
        &:nth-child(6) {
          animation-delay: 0.6s;
        }
        &:nth-child(7) {
          animation-delay: 0.7s;
        }
        &:nth-child(8) {
          animation-delay: 0.8s;
        }
        &:nth-child(9) {
          animation-delay: 0.9s;
        }
      }
    }
  }
  &__icons {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
    & svg {
      margin-left: 20px;
      transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
      &:hover {
        color: $lightestText;
      }
    }
    &-upwork {
      cursor: pointer;
      & svg {
        position: relative;
        top: 3px;

        & path {
          fill: $lightText;
          transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
        }
      }
      &:hover {
        path {
          fill: $lightestText;
        }
      }
    }
  }
}

.frame {
  display: block;
  width: 100vw;
  height: 100%;
  border: 10px solid $background;
  z-index: 999999;
  position: fixed;
  pointer-events: none;
  border-radius: 22px;
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100vw;
    height: 100vh;
    border: 10px solid $background;
  }
}

.leftTriangle {
  @extend %triangleUp;
  left: 67px;
  transform: translateX(-50%);
}

.rightTriangle {
  @extend %triangleUp;
  right: -52%;
  transform: translateX(-50%);
}
