.contact {
  @extend .projects;
  z-index: 8;
  left: 45%;
  &__triangle {
    @extend %triangleDown;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__image {
    position: relative;
    right: 100px;
  }
  &__form {
    color: $lightestText;
    left: 50%;
    top: 50%;
    position: fixed;
    width: 30%;
    z-index: 100;
    transform: translate(-50%, -50%);
    pointer-events: all;
    &-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* background-color: #163939; */
      z-index: 9999;
      height: 110%;
      width: 110%;
      /* margin: 0 auto; */
      backdrop-filter: blur(3px);
      padding: 33%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-sent {
      padding: 5% 4%;
      background-color: #195546;
      z-index: 9999;
      color: #bfc9c5;
      display: flex;
      border-radius: 9px;
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      span:nth-child(2) {
        font-weight: 300;
        font-size: 1rem;
      }
      div {
        pointer-events: all;
        cursor: pointer;
        top: 0;
        position: absolute;
        right: 0;
        padding: 1%;
      }
    }
    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    input,
    textarea {
      background-color: transparent;
      border: 2px solid $lightText;
      border-radius: 5px;
      height: 42px;
      font-size: 1rem;
      color: #fffffffc;
      padding-left: 15px;
      width: 100%;
      text-shadow: 3px 3px 10px rgba(22, 58, 57, 0.4);
      &::placeholder {
        color: $lightText;
        opacity: 0.7;
      }
      &:focus {
        border: 2px solid $lightestText;
        outline: none;
        transition: 0.3s ease-in-out;
      }
    }
    textarea {
      height: 120px;
      padding-top: 7px;
      // margin: 1em 0 0 0;
      // font-size: 1rem;
      // padding: 5px 15px;
      // font-weight: 400;
    }
    button {
      margin: 0.5em 0;
      cursor: pointer;
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      border-radius: 3px;
      background-color: #22805a;
      color: $lightestText;
      // border: 1px solid #ffffffdb;
      border: none;
      text-align: center;
      width: -moz-fit-content;
      width: fit-content;
      cursor: pointer;
      height: 38px;
      font-size: 1.2rem;
      padding: 0 0.7rem;
      font-weight: 500;
      &:focus {
        outline: 0;
        border: 1px solid $active;
      }
      &:hover {
        background-color: $hover;
      }
      &:disabled {
        background-color: transparent;
        color: #ffffff46;
        border: 2px solid $lightText;
      }
    }
  }
  &__input {
    margin: 1em 0 0 0;
  }
  &__error {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    color: #ffd9d9;
    & svg {
      margin-right: 0.5em;
    }
  }

  &__info-top {
    // display: none;
    text-shadow: 3px 3px 10px rgba(22, 58, 57, 0.4);
    font-weight: 300;
    span {
      font-weight: 600;
    }
  }
}
