// .app {
//   width: 100%;
//   height: 100%;
// }
.logo {
  font-size: 3rem;
  color: white;
  margin: 20px 40px;
  position: absolute;
  font-weight: 600;
  letter-spacing: -10px;
  z-index: 99;
  position: fixed;
  cursor: pointer;
}
.icons {
  position: fixed;
  top: 100%;
  // left: -50%;
  opacity: 0;
  z-index: 12;
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  transition: 0.3s cubic-bezier(0, 0.87, 0.4, 1.07);
  & svg {
    margin-left: 20px;
  }
  &__upwork {
    & svg {
      position: relative;
      top: 3px;
    }
  }
}

.main {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 130vh;
  left: 0;
  top: -30%;
  width: 78%;
  position: fixed;
  background-color: #281f84;
  z-index: 11;

  &__heading {
    transition: 0.5s cubic-bezier(0.49, 0.64, 0, 0.91);
    opacity: 1;
    position: relative;
    top: 54%;
    text-align: center;
    z-index: 10;
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
  }
  &__arrow {
    position: relative;
    top: 17%;
    text-align: center;
    z-index: 10;
    font-size: 1rem;
    color: black;
  }
  transition: 0.3s cubic-bezier(0.61, 1, 0.88, 1);
}
.projects-wrapper {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
