@media only screen and (max-width: 600px) {
  %triangleDown {
    width: 100%;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    padding: 1.5rem 66.666% 0 0;
    display: flex;
    justify-content: center;
    // background: linear-gradient(0deg, #49445000 0%, rgba(73, 68, 80, 0.18) 100%);
    & h2 {
      transform: translate(0%);
      font-size: 1rem;
      float: left;
    }
  }
  .logo {
    display: none;
  }
  .rightTriangle {
    display: none;
  }
  .leftTriangle {
    display: none;
  }
  .main {
    &__triangle {
      display: none;
    }
  }
  .projects {
    transform: translate(0%, 0%);
    & h2 {
      font-size: 0.8rem;
    }
    & h2:after {
      transition: 0.8s cubic-bezier(0.01, 0.21, 0.35, 1);
    }
  }
  .project {
    transform: translate(0%, 0%);
    flex-direction: column;
    height: auto;
    &__gallery {
      height: 100%;
      width: 100%;
      position: unset;
    }
    &__info {
      width: 100%;
      left: 0;
      transform: translateY(0%);
    }
  }
  .swiper-container {
    position: relative !important;
    // height: auto;
  }
  .swiper-pagination {
    top: 7%;
    right: 0px;
    width: 100%;
    padding-left: 0px;
  }
  // .scrolledProject {
  //   .project__info-bg {
  //     opacity: 1;
  //     pointer-events: all;
  //   }
  //   .project__info {
  //     transform: translateY(-10%);
  //     & p {
  //       opacity: 0;
  //     }
  //   }
  // }

  .contact {
    transform: translate(66.666%, 0%);
  }
  .about {
    transform: translate(33.333%, 0%);
    &__info {
      left: 0;
      h1 {
        padding: 0;
        font-size: 1.5rem;
      }
      p {
        padding: 50px 5%;
        text-align: left;
      }
      &-left {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .left {
      display: none;
    }
    .right {
      display: none;
    }
  }
  .first {
    transform: translate(0%, 0%);
  }
  .second {
    transform: translate(33.333%, 0%);
  }
  .third {
    transform: translate(66.666%, 0%);
    & h2 {
      margin-right: 10px;
    }
  }

  .away {
    transform: translate(0%, 100%);
    transition: 0.2s cubic-bezier(0.5, 0, 0.75, 0); // changes up animation
  }
  // .top {
  //   transform: translate(0%, 0%);
  //   z-index: 10;
  // }
  .fromLeft {
    height: auto;
  }

  .bottom-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    bottom: 2%;
    &__icons {
      margin-left: 0;
      width: fit-content;
      svg {
        margin: 0 20px;
      }
    }
    &__status {
      margin: 2% 0 0 0;
      position: relative;
      h2 {
        font-size: 1rem;
      }
    }
  }
  .contact__form {
    width: 80%;
  }
  .bottom-triangle {
    height: 6%;
    opacity: 0.3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(100 0%, 0% 100%, 100% 100%);
    background-color: white;
    position: fixed;
  }
  .main {
    &__heading {
      top: 50%;
      transform: translateY(-50%);
      left: 0%;
    }
  }
  .mainTop {
    transform: translateX(0%);
  }
}
@media only screen and (max-height: 400px) {
  .bottom-info {
    display: none;
  }
  %triangleDown {
    h2 {
      display: none;
    }
  }
  .contact__info-top {
    display: none;
  }
  .contact__form {
    button {
      margin: 0.5em 0;
    }
  }
}
