@media only screen and (max-width: 1050px) {
  .about {
    &__info {
      padding: 0% 25%;
      & p {
        text-align: left;
        padding: 0.5rem 0 0 0;
        font-size: 0.9rem;
      }
      & h1 {
        padding: 0;
        font-size: 1.5rem;
      }
      &-avatar {
        & svg {
          height: 90px;
        }
      }
      &-icons {
        & svg {
          margin: 0rem;
          height: 2rem;
        }
      }
    }
  }
  .project {
    &__info {
      padding: 0.8rem 1.5rem 4rem;
      p {
        margin-top: 0.8rem;
        font-size: 0.9rem;
      }
      &-tools {
        h3 {
          font-size: 1rem;
        }
        &-icons {
          svg {
            margin: 0.3rem 0.5rem 0 0;
            width: 1.7rem;
            height: 1.7rem;
          }
        }
      }
    }
    .swiper-pagination {
      margin-bottom: 1rem;
    }
  }
  .navbar {
    h2 {
      font-size: 0.9rem;
    }
    div {
      margin-left: 9%;
    }
  }
  .bottom-info {
    & svg {
      margin: 0rem;
      height: 2rem;
    }
    &__status {
      font-size: 0.6rem;
    }
  }
}

@media only screen and (max-width: 750px) {
  html {
    height: -webkit-fill-available;
  }
  body,
  .frame,
  .App {
    min-height: -webkit-fill-available;
  }
  .frame {
    display: none;
  }
  .main {
    left: 0;
    &__heading {
      padding: 0 10%;
      text-align: left;
      position: absolute;
      width: -moz-fit-content;
      width: 100%;
      margin: 0 auto;
      min-height: 100%;
      display: flex;
      top: -5%;
      flex-direction: column;
      justify-content: center;
      left: 0;
      transform: translateY(0%);

      &-name {
        font-size: 1.5rem;
      }
      font-size: 3rem;
    }
  }
  %triangleDown {
    // display: none;
    width: 250%;
  }
  .logo {
    display: none;
  }
  .navbar {
    justify-content: space-around;
    div {
      margin: 0;
    }
  }
  .about {
    left: 0;
    min-height: -webkit-fill-available;
    &__info {
      min-height: -webkit-fill-available;
      padding: 0% 0%;
      &-text {
        padding: 0 7%;
        top: 0;
      }
      &-icons {
        display: none;
      }
    }
  }
  .contact {
    &__form {
      width: 80%;
      &-sent {
        width: 70%;
        border: 6px solid #163939;
      }
    }
  }
  .projects {
    transform: translate(0%, 0%);
    & h2 {
      font-size: 0.8rem;
    }
    & h2:after {
      transition: 0.8s cubic-bezier(0.01, 0.21, 0.35, 1);
    }
  }
  .project {
    transform: translate(0%, 0%);
    flex-direction: column;
    justify-content: space-between;
    &__gallery {
      display: none;
    }
    &__info {
      width: 100%;
      // height: 100vh;
      min-height: -webkit-fill-available;
      left: 0;
      transform: translateY(0%);
      padding: 2rem 1.5rem 4.5rem;
      p {
        font-size: 1rem;
      }
    }
  }
  .swiper-pagination {
    right: 0px;
    width: 100%;
    padding-left: 0px;
  }
  .bottom-info__status {
    padding-right: 7%;
  }
}

@media only screen and (max-height: 400px) {
  .bottom-info {
    display: none;
  }
  %triangleDown {
    h2 {
      display: none;
    }
  }
  .contact__info-top {
    display: none;
  }
  .contact__form {
    button {
      margin: 0.5em 0;
    }
  }
}
