@media only screen and (max-width: 600px) {
  %triangleDown {
    width: 100%;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    padding: 1.5rem 66% 0 0;
    display: flex;
    justify-content: center;
    // background: rgb(73, 68, 80);
    background: linear-gradient(0deg, #49445000 0%, rgba(73, 68, 80, 0.18) 100%);
    & h2 {
      transform: translate(0%);
      font-size: 1rem;
      float: left;
    }
  }
  .logo {
    display: none;
  }
  .rightTriangle {
    display: none;
  }
  .leftTriangle {
    display: none;
  }
  .main {
    &__triangle {
      display: none;
    }
  }
  .projects {
    transform: translate(0%, 0%);
    // left: 0%;
    & h2:after {
      transition: 0.8s cubic-bezier(0.01, 0.21, 0.35, 1);
    }
  }
  .project {
    flex-direction: column;
    width: 100%;
    // height: auto;
    width: 100%;
    &__info-wrapper {
      // position: relative;
    }
    &__gallery {
      width: 100%;
      &-images {
        top: 55vh;
      }
    }
    &__info {
      width: 100%;
      &-wrapper {
        right: 0;
      }
      &-bg {
        background: linear-gradient(0deg, #49445000 37%, rgba(20, 17, 27, 0.84) 84%);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: 0.3s cubic-bezier(0.52, 0.51, 0.71, 0.74);
        pointer-events: none;
        z-index: -1;
      }
    }
    &__bar {
      position: fixed;
      padding: 0 8%;
      transform: translateY(-87%);
      height: 100%;
      width: 100%;
    }
    &__control {
      display: none;
    }
  }
  .scrolledProject {
    .project__info-bg {
      opacity: 1;
      pointer-events: all;
    }
    .project__bar {
      transform: translateY(-93%);
    }
    .project__info {
      transform: translateY(-10%);
      & p {
        opacity: 0;
      }
    }
  }
  .contact {
    transform: translate(33%, 0%);
    // left: 66%;
  }
  .about {
    // left: 33%;
    transform: translate(66%, 0%);
    &__info {
      left: 0;
      h1 {
        padding: 0;
        font-size: 1.5rem;
      }
      p {
        padding: 50px 5%;
        text-align: left;
      }
      &-left {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .left {
      display: none;
    }
    .right {
      display: none;
    }
  }
  .first {
    // left: 0%;
    transform: translate(0%, 0%);
  }
  .second {
    // left: 33%;
    transform: translate(33%, 0%);
  }
  .third {
    // left: 66%;
    transform: translate(66%, 0%);
  }

  .away {
    // transform: translate(0%, -100%);
    transform: translate(0%, 0%);
    transition: 0.2s cubic-bezier(0.5, 0, 0.75, 0); // changes up animation
  }
  .top {
    // transform: translate(0%, -100%);
    transform: translate(0%, 0%);
    z-index: 10;
  }

  .bottom-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    bottom: 2%;
    &__icons {
      margin-left: 0;
      width: fit-content;
      svg {
        margin: 0 20px;
      }
    }
    &__status {
      margin: 2% 0 0 0;
      position: relative;
      h2 {
        font-size: 1rem;
      }
    }
  }
  .contact__form {
    width: 80%;
  }
  .bottom-triangle {
    height: 6%;
    opacity: 0.3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(100 0%, 0% 100%, 100% 100%);
    background-color: white;
    position: fixed;
  }
  .main {
    &__heading {
      top: 50%;
      transform: translateY(-50%);
      left: 0%;
    }
  }
  .mainTop {
    transform: translateX(0%);
  }
}
@media only screen and (max-height: 400px) {
  .bottom-info {
    display: none;
  }
  %triangleDown {
    h2 {
      display: none;
    }
  }
  .contact__info-top {
    display: none;
  }
  .contact__form {
    button {
      margin: 0.5em 0;
    }
  }
}
