.about {
  @extend .projects;
  z-index: 9;
  left: 29%;

  &__triangle {
    @extend %triangleDown;
  }
  &__info {
    color: $lightestText;
    position: absolute;
    height: 100vh;
    padding: 0% 30%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    text-align: center;
    z-index: 9999;
    &-text {
      height: 100%;
      position: relative;
      top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    & p {
      text-align: justify;
      padding: 1rem 0 0 0;
    }
    & h1 {
      text-align: center;
      padding: 1rem 0 0 0;
    }
    svg {
      z-index: 999;
    }
    &-send {
      pointer-events: all;
      cursor: pointer;
      margin-left: 0.5rem;
    }
    &-icons {
      padding-bottom: 5%;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin: 0 0.5rem;
      }
    }
  }
}
