.selected {
  & h2 {
    color: $lightestText;
    &:after {
      transform: scaleX(1);
    }
  }
}

.show {
  display: block;
  pointer-events: auto;
}
.visible {
  opacity: 1;
}
.invisible {
  opacity: 0;
  transition: 3s cubic-bezier(0.34, 0.3, 0.49, 0.69);
}
.active {
  opacity: 1;
  cursor: default;
  &:hover {
    opacity: 1;
  }
}

@keyframes up-down {
  0% {
    transform: translate(-50%, 8%);
  }
  50% {
    transform: translate(-50%, 14%);
  }
  100% {
    transform: translate(-50%, 8%);
  }
}
@keyframes left-up-down {
  0% {
    transform: translate(-50%, 14%);
  }
  50% {
    transform: translate(-50%, 18%);
  }
  100% {
    transform: translate(-50%, 14%);
  }
}

@keyframes opacity-up {
  0% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

.rightTriangleBottom {
  transform: translate(-50%, 8%);
  transition: 0.7s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.leftTriangleBottom {
  transform: translate(-50%, 14%);
  transition: 1.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
}
.moveUpDown {
  animation-name: up-down;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: 2s ease-in-out;
  transform: translate(-50%, 8%);
}
.leftMoveUpDown {
  animation-name: left-up-down;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: 2s ease-in-out;
  transform: translate(-50%, 14%);
}
