.main {
  height: 100vh;
  left: -33%;
  // transform: translateX(-100%);
  width: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 99999;
  // transition: 2s cubic-bezier(0, 1.13, 0.21, 0.99);
  &__triangle {
    @extend %triangleDown;
    z-index: 9999;
  }
  &__heading {
    opacity: 0.85;
    position: relative;
    top: 32%;
    left: 32%;
    text-align: center;
    z-index: 10;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: normal;
    color: #ffffffdb;
    text-transform: uppercase;
    text-shadow: 3px 3px 10px rgba(22, 58, 57, 0.6);
    & span {
      font-weight: 600;
    }
    &-name  {
      text-transform: initial;
      font-weight: 300;
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }
  &__text {
    position: relative;
    bottom: -62%;
    left: 34%;
    margin: 30px;
    text-transform: uppercase;
    text-align: left;
    z-index: 10;
    font-size: 1.3rem;
    font-weight: 300;
    color: $lightText;
    width: 28%;

    // opacity: 0.75;
  }
}
