*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: inherit;
}

a:not([class]):hover {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.leftTriangle, .rightTriangle, .main__triangle, .projects__triangle, .about__triangle, .contact__triangle {
  height: 100%;
  width: 60%;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  padding: 1.3rem 12.5% 0 0;
  background-color: #49445036;
  position: fixed;
  pointer-events: none;
}

.leftTriangle, .rightTriangle {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #24212d;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.loading-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #353674;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  opacity: 1;
  -webkit-transition: 0.2s cubic-bezier(0, 1.06, 0, 0.98);
  transition: 0.2s cubic-bezier(0, 1.06, 0, 0.98);
  pointer-events: none;
}

.logo {
  font-size: 3rem;
  color: #dfdfdf;
  margin: 20px 40px;
  position: absolute;
  font-weight: 600;
  letter-spacing: -10px;
  z-index: 99;
  position: fixed;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 12;
  color: #dbd6e26c;
  top: 100%;
  opacity: 0;
}

.bottom-info__status {
  bottom: 12px;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
  transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
  font-size: 0.8rem;
  margin-right: 4%;
  position: absolute;
  right: 0;
}

.bottom-info__status h2 {
  font-weight: 300;
}

.bottom-info__status h2 span {
  color: #ffffffdb;
  -webkit-animation-name: opacity-up;
          animation-name: opacity-up;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  font-weight: 500;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.bottom-info__status h2 span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bottom-info__status h2 span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bottom-info__status h2 span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bottom-info__status h2 span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.bottom-info__status h2 span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.bottom-info__status h2 span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bottom-info__status h2 span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bottom-info__status h2 span:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.bottom-info__status h2 span:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.bottom-info__icons {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  cursor: pointer;
}

.bottom-info__icons svg {
  margin-left: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
  transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
}

.bottom-info__icons svg:hover {
  color: #ffffffdb;
}

.bottom-info__icons-upwork {
  cursor: pointer;
}

.bottom-info__icons-upwork svg {
  position: relative;
  top: 3px;
}

.bottom-info__icons-upwork svg path {
  fill: #dbd6e26c;
  -webkit-transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
  transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
}

.bottom-info__icons-upwork:hover path {
  fill: #ffffffdb;
}

.frame {
  display: block;
  width: 100vw;
  height: 100%;
  border: 10px solid #24212d;
  z-index: 999999;
  position: fixed;
  pointer-events: none;
  border-radius: 22px;
}

.frame:after {
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100vw;
  height: 100vh;
  border: 10px solid #24212d;
}

.leftTriangle {
  left: 67px;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.rightTriangle {
  left: 92%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.main {
  height: 100vh;
  left: -31%;
  width: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 11;
  -webkit-transition: 2s cubic-bezier(0, 1.13, 0.21, 0.99);
  transition: 2s cubic-bezier(0, 1.13, 0.21, 0.99);
}

.main__heading {
  -webkit-transition: 0.5s cubic-bezier(0.49, 0.64, 0, 0.91);
  transition: 0.5s cubic-bezier(0.49, 0.64, 0, 0.91);
  opacity: 0.85;
  position: relative;
  top: 45%;
  left: 20%;
  text-align: center;
  z-index: 10;
  font-size: 3rem;
  font-weight: 300;
  line-height: normal;
  color: #ffffffdb;
  text-transform: uppercase;
}

.main__heading span {
  font-weight: 600;
}

.main__text {
  position: relative;
  bottom: -68%;
  left: 34%;
  text-transform: uppercase;
  text-align: left;
  z-index: 10;
  font-size: 1.3rem;
  font-weight: 300;
  color: #dbd6e26c;
  width: 28%;
}

.projects, .about, .contact {
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 10%;
  top: 0;
  -webkit-transition: 0.5s cubic-bezier(0, 1.04, 0.01, 1);
  transition: 0.5s cubic-bezier(0, 1.04, 0.01, 1);
}

.projects h2, .about h2, .contact h2 {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  pointer-events: all;
  text-align: right;
  color: #ffffffdb;
  opacity: 0.7;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-weight: 500;
  -webkit-transition: 0.5s cubic-bezier(0.1, 0.72, 0, 0.94);
  transition: 0.5s cubic-bezier(0.1, 0.72, 0, 0.94);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.projects h2:hover, .about h2:hover, .contact h2:hover {
  opacity: 1;
}

.projects h2:hover:after, .about h2:hover:after, .contact h2:hover:after {
  width: 100%;
}

.projects h2:after, .about h2:after, .contact h2:after {
  display: block;
  content: "";
  width: 0%;
  height: 3px;
  background-color: #ffffffdb;
  -webkit-transition: 0.2s cubic-bezier(0.01, 0.21, 0.35, 1);
  transition: 0.2s cubic-bezier(0.01, 0.21, 0.35, 1);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

.project__info-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 100;
  pointer-events: none;
}

.project__gallery {
  z-index: 100;
  width: 67%;
  margin-left: 3%;
  position: relative;
  left: -100%;
  -webkit-transition: 0.3s cubic-bezier(0.97, -0.07, 0.9, 0.19);
  transition: 0.3s cubic-bezier(0.97, -0.07, 0.9, 0.19);
  pointer-events: none;
}

.project__gallery img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: top;
     object-position: top;
  will-change: scroll-position;
}

.project__gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: -103px;
  position: absolute;
  max-height: 100%;
}

.project__info {
  width: 31%;
  padding: 130px 40px 40px;
  color: #ffffffdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: -100%;
  height: 100%;
  position: absolute;
  -webkit-transition: 0.3s cubic-bezier(0.97, -0.07, 0.9, 0.19);
  transition: 0.3s cubic-bezier(0.97, -0.07, 0.9, 0.19);
}

.project__info h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.project__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 99999;
  pointer-events: none;
  margin-bottom: 20px;
}

.project__control svg {
  font-size: 3rem;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}

.project__control svg:hover {
  opacity: 1;
}

.project__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 31%;
  padding: 0 30px;
  top: 100%;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 999999;
  opacity: 0;
  -webkit-transition: 1.5s cubic-bezier(0, 0.65, 0.26, 1.01);
  transition: 1.5s cubic-bezier(0, 0.65, 0.26, 1.01);
}

.project__bar-span {
  content: "";
  height: 5px;
  width: 100%;
  margin: 0 5px;
  background-color: white;
  display: block;
  pointer-events: all;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
  transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
}

.project__bar-span:hover {
  opacity: 1;
}

.project__bar-span span {
  color: white;
  top: -21px;
  position: relative;
}

.about {
  left: 28%;
  z-index: 9;
}

.about__info {
  color: #ffffffdb;
  position: absolute;
  height: 100vh;
  top: 0;
  pointer-events: none;
}

.about__info-left {
  position: relative;
  left: -50%;
  opacity: 0%;
  -webkit-transition: 0.5s cubic-bezier(0.1, 0.54, 0.05, 0.79);
  transition: 0.5s cubic-bezier(0.1, 0.54, 0.05, 0.79);
}

.about__info p {
  text-align: center;
  padding: 50px 0 0 0;
}

.about__info h1 {
  text-align: center;
  padding: 150px 0 0 0;
}

.about__info .left {
  shape-outside: polygon(5% 0%, 105% 100%, 0 100%);
  float: left;
  height: 100vh;
  width: 50%;
}

.about__info .right {
  shape-outside: polygon(95% 0%, 100% 100%, -5% 100%);
  float: right;
  height: 100vh;
  width: 50%;
}

.contact {
  left: 45%;
  z-index: 8;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__image {
  position: relative;
  right: 100px;
}

.contact__form {
  color: #ffffffdb;
  left: 50%;
  top: 100%;
  opacity: 0;
  position: fixed;
  width: 35%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: 0.5s cubic-bezier(0, 0.81, 0, 0.89);
  transition: 0.5s cubic-bezier(0, 0.81, 0, 0.89);
}

.contact__form form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form input,
.contact__form textarea {
  background-color: transparent;
  border: 2px solid #dbd6e26c;
  border-radius: 5px;
  height: 42px;
  font-size: 1.3rem;
  color: #ffffffdb;
  padding-left: 15px;
  width: 100%;
  font-weight: 500;
}

.contact__form input::-webkit-input-placeholder,
.contact__form textarea::-webkit-input-placeholder {
  color: #dbd6e26c;
  opacity: 0.5;
}

.contact__form input:-ms-input-placeholder,
.contact__form textarea:-ms-input-placeholder {
  color: #dbd6e26c;
  opacity: 0.5;
}

.contact__form input::-ms-input-placeholder,
.contact__form textarea::-ms-input-placeholder {
  color: #dbd6e26c;
  opacity: 0.5;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
  color: #dbd6e26c;
  opacity: 0.5;
}

.contact__form input:focus,
.contact__form textarea:focus {
  border: 2px solid #ffffffdb;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contact__form textarea {
  height: 120px;
  margin: 1em 0 0 0;
  font-size: 1rem;
  padding: 5px 15px;
  font-weight: 400;
}

.contact__form button {
  margin: 1em 0;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  border-radius: 3px;
  background-color: transparent;
  color: #ffffffdb;
  border: 2px solid #ffffffdb;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  height: 42px;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-weight: 500;
}

.contact__form button:focus {
  outline: 0;
  border: 1px solid #347f7c;
}

.contact__form button:hover {
  background-color: #ffffff24;
}

.contact__form button:disabled {
  background-color: transparent;
  color: #565459;
  border: 2px solid #908b94;
}

.contact__input {
  margin: 1em 0 0 0;
}

.contact__error {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__error svg {
  margin-right: 0.5em;
}

.contact__info-top-over {
  display: none;
}

.away {
  top: -100%;
  -webkit-transition: 0.2s cubic-bezier(0.5, 0, 0.75, 0);
  transition: 0.2s cubic-bezier(0.5, 0, 0.75, 0);
}

.top {
  top: -100%;
  z-index: 10;
}

.first {
  left: 10%;
  top: 0;
  z-index: 10;
  color: #ffffffdb;
}

.first h2 {
  opacity: 1;
}

.first h2:after {
  width: 100%;
  color: #ffffffdb;
}

.second {
  left: 28%;
  top: 0;
  z-index: 9;
}

.third {
  left: 45%;
  top: 0;
  z-index: 8;
}

.projectsDefault {
  left: 10%;
  top: 0;
  z-index: 10;
}

.mainTop {
  left: -31%;
  z-index: 11;
}

.mainAway {
  left: -100%;
}

.mainAway h1 {
  opacity: 0;
}

.show {
  display: block;
  pointer-events: auto;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
  -webkit-transition: 3s cubic-bezier(0.34, 0.3, 0.49, 0.69);
  transition: 3s cubic-bezier(0.34, 0.3, 0.49, 0.69);
}

.active {
  opacity: 1;
  cursor: default;
}

.active:hover {
  opacity: 1;
}

.fromLeft {
  left: 0;
  opacity: 100%;
  -webkit-transition: 1.5s cubic-bezier(0, 0.92, 0, 1.01);
  transition: 1.5s cubic-bezier(0, 0.92, 0, 1.01);
  max-height: auto;
}

.fromLeft .project__gallery-images {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.fromRight {
  right: 0;
  opacity: 1;
  -webkit-transition: 0.5s cubic-bezier(0, 0.65, 0.26, 1.01);
  transition: 0.5s cubic-bezier(0, 0.65, 0.26, 1.01);
}

.fromRight .project__control {
  pointer-events: all;
}

.fromBottom {
  top: 50%;
  opacity: 1;
  -webkit-transition: 0.5s cubic-bezier(0, 0.65, 0.26, 1.01);
  transition: 0.5s cubic-bezier(0, 0.65, 0.26, 1.01);
  pointer-events: all;
}

.fromBottomIcons {
  top: 87%;
  opacity: 1;
  -webkit-transition: 1.5s cubic-bezier(0, 0.65, 0.26, 1.01);
  transition: 1.5s cubic-bezier(0, 0.65, 0.26, 1.01);
  pointer-events: all;
}

.fromBottomBar {
  top: 96%;
  opacity: 1;
  -webkit-transition: 1.5s cubic-bezier(0, 0.65, 0.26, 1.01);
  transition: 1.5s cubic-bezier(0, 0.65, 0.26, 1.01);
}

@-webkit-keyframes up-down {
  0% {
    top: 8%;
  }
  50% {
    top: 14%;
  }
  100% {
    top: 8%;
  }
}

@keyframes up-down {
  0% {
    top: 8%;
  }
  50% {
    top: 14%;
  }
  100% {
    top: 8%;
  }
}

@-webkit-keyframes opacity-up {
  0% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes opacity-up {
  0% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

.moveUpDown {
  -webkit-animation-name: up-down;
          animation-name: up-down;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  top: 8%;
}

.rightTriangleBottom {
  top: 8%;
  -webkit-transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
  transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
}

.leftTriangleBottom {
  top: 12%;
  -webkit-transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
  transition: 0.3s cubic-bezier(0.63, 0.71, 0.23, 1.04);
}

@media only screen and (max-width: 600px) {
  .leftTriangle, .rightTriangle, .main__triangle, .projects__triangle, .about__triangle, .contact__triangle {
    width: 100%;
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
            clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    padding: 1.5rem 66% 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left bottom, left top, from(#49445000), to(rgba(73, 68, 80, 0.18)));
    background: linear-gradient(0deg, #49445000 0%, rgba(73, 68, 80, 0.18) 100%);
  }
  .leftTriangle h2, .rightTriangle h2, .main__triangle h2, .projects__triangle h2, .about__triangle h2, .contact__triangle h2 {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    font-size: 1rem;
    float: left;
  }
  .logo {
    display: none;
  }
  .rightTriangle {
    left: 116%;
    top: 100%;
    -webkit-transition: 10s ease-in-out;
    transition: 10s ease-in-out;
    opacity: 0.3;
  }
  .leftTriangle {
    display: none;
  }
  .main__triangle {
    display: none;
  }
  .projects, .about, .contact {
    left: 0%;
  }
  .contact {
    left: 66%;
  }
  .about {
    left: 33%;
  }
  .about__info {
    left: 0;
  }
  .about__info h1 {
    padding: 0;
    font-size: 1.5rem;
  }
  .about__info p {
    padding: 50px 5%;
    text-align: left;
  }
  .about__info-left {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .about .left {
    display: none;
  }
  .about .right {
    display: none;
  }
  .first {
    left: 0%;
  }
  .second {
    left: 33%;
  }
  .third {
    left: 66%;
  }
  @-webkit-keyframes up-down {
    0% {
      top: 0%;
    }
    50% {
      top: 100%;
    }
    100% {
      top: 0%;
    }
  }
  @keyframes up-down {
    0% {
      top: 0%;
    }
    50% {
      top: 100%;
    }
    100% {
      top: 0%;
    }
  }
  .bottom-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 2%;
  }
  .bottom-info__icons {
    margin-left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bottom-info__icons svg {
    margin: 0 20px;
  }
  .bottom-info__status {
    margin: 2% 0 0 0;
    position: relative;
  }
  .bottom-info__status h2 {
    font-size: 1rem;
  }
  .contact__form {
    width: 80%;
  }
  .bottom-triangle {
    height: 6%;
    opacity: 0.3;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50%;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(100 0%, 0% 100%, 100% 100%);
    background-color: white;
    position: fixed;
  }
}

@media only screen and (max-height: 600px) {
  .bottom-info {
    display: none;
  }
  .leftTriangle h2, .rightTriangle h2, .main__triangle h2, .projects__triangle h2, .about__triangle h2, .contact__triangle h2 {
    display: none;
  }
  .contact__info-top {
    display: none;
  }
  .contact__form button {
    margin: 0.5em 0;
  }
}
/*# sourceMappingURL=main.css.map */